.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border:1px #d9e1ec solid;
  max-height: 500px;
  max-width: 300px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  .stats {
    border-top: 1px #d9e1ec solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #F3F6F9;
    width: 100%;
    &__stat {
      width: calc(100%/3);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      &:nth-child(2) {
        border-left: 1px #d9e1ec solid;
        border-right: 1px #d9e1ec solid;
      }
      .label {
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: 30px;
      border: 1px solid #d9e1ec;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    .name {
      font-weight: bold;
    }
  }
}
